
<form action=query method="POST" target="show">
<input type=submit value="ShowAll" />

<hr>

<form action=create method="POST" target="res">
	Name:<input name="name" type=value value=0 size=1 />
	newF:<input name="newF" type=value value=0 size=1 />
	type:<input name="type" type=value value=0 size=1 />
	<input type=submit value=create />
</form>

<hr>

<form action=query method="POST" target="show">
ID : <input type="checkbox" name="show_id" value=1 /><br>
name : <input type="checkbox" name="show_name" value=0 /><br>
newF : <input type="checkbox" name="show_newF" value=0 /><br>
type : <input type="checkbox" name="show_type" value=0 /><br>
<input type=submit value="Query" />

<hr>