<center>
	<table border=1>	
		<tr>
			<td width=100>
				id
			</td>
			<td width=100>
				name
			</td>
			<td width=100>
				newF
			</td>
			<td width=100>
				type
			</td>
		</tr>
		{% for entity in entities %}
			<tr>
				<td>
					{{ entity.id }}
				</td>
				<td>
					{{ entity.name }}
				</td>
				<td>
					{{ entity.newF }}
				</td>
				<td>
					{{ entity.type }}
				</td>
			</tr>
		{% endfor %}
	</table>
</center>